* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(74, 40, 40);
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

.apply_box {
    max-width: 650px;
    padding: 25px;
    background-color: rgb(234, 209, 209);
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}

.title_small {
    font-size: 20px;
}